.app-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: #E8F5E9;
  opacity: 0.8;
  background-size: 20px 20px;
  background-image:  repeating-linear-gradient(0deg, #558B2F, #558B2F 1px, #E8F5E9 1px, #E8F5E9);
}

.app-header {
  background-color: #558B2F;
  color: white;
  padding: 15px 20px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.controls {
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.controls button, .file-label {
  padding: 8px 15px;
  background-color: #E8F5E9;
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9em;
  transition: background-color 0.3s;
}

.controls button:hover, .file-label:hover {
  background-color: #FFC107;
}

.file-label {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.file-label input[type="file"] {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  cursor: pointer;
}
